{{- $gitName := promptStringOnce . "git_name" "Git user name" -}}
{{- $gitEmail := promptStringOnce . "git_email" "Git user email" -}}
{{- $adoOrg := promptStringOnce . "ado_org" "Azure DevOps organization name" -}}
{{- $adoProject := promptStringOnce . "ado_project" "Azure DevOps default project" -}}
{{- $adoPat := promptStringOnce . "ado_pat" "Azure DevOps PAT token" -}}

[data]
    git_name = {{ $gitName | quote }}
    git_email = {{ $gitEmail | quote }}
    ado_org = {{ $adoOrg | quote }}
    ado_project = {{ $adoProject | quote }}
    ado_pat = {{ $adoPat | quote }}
