{
  "mcpServers": {
{{ if .setup_azure }}
    "azure": {
      "command": "npx",
      "args": ["-y", "@azure/mcp@latest", "server", "start", "--auth-method", "azure-cli"]
    },
{{ end }}
{{ if .setup_ado }}
    "azureDevOps": {
      "command": "npx",
      "args": ["-y", "@azure-devops/mcp", "{{ .ado_org }}", "--authentication", "env"],
      "env": {
        "AZURE_DEVOPS_DEFAULT_PROJECT": "{{ .ado_project }}",
        "AZURE_DEVOPS_PAT": "{{ .ado_pat }}"
      }
    },
{{ end }}
    "playwright": {
      "command": "npx",
      "args": ["@playwright/mcp@latest", "--browser", "chromium"]
    }
  }
}
