{
  "mcpServers": {
{{ if .setup_azure }}
    "azure": {
      "command": "npx",
      "args": ["-y", "@azure/mcp@latest", "server", "start"]
    },
{{ end }}
{{ if .setup_ado }}
    "azureDevOps": {
      "command": "npx",
      "args": ["-y", "@azure-devops/mcp", "{{ .ado_org }}"],
      "env": {
        "AZURE_DEVOPS_DEFAULT_PROJECT": "{{ .ado_project }}"
      }
    },
{{ end }}
    "chromeDevtools": {
      "command": "npx",
      "args": [
        "-y", "chrome-devtools-mcp@latest",
        "--executable-path={{ .chezmoi.homeDir }}/.cache/ms-playwright/chromium-1223/chrome-linux64/chrome"
      ]
    }
  }
}
