#!/bin/bash
{{ if .setup_teams -}}
set -euo pipefail

echo "Installing Microsoft Teams..."
yay -S --noconfirm --needed teams-for-linux

echo "Teams installation complete"
{{- else -}}
exit 0
{{- end }}
