* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrains Mono Regular 10";
    font-size: 13px;
    color: white;
}

#workspaces button {
  margin: 0.25em;
}

#workspaces button.active {
  background-color: rgba(200, 200, 200, 0.4);
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

